@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

/* 달력 */
.rap {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.date_head {
	margin-bottom: 10px;
}

.date_head div {
	background: #f03d3d;
	color: #fff;
	text-align: center;
	min-width: 150px;
}

.date_form {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 10px;
}

.date_form div {
	padding: 10px 10px;
	font-size: 16px;
}

.dateSel div {
	font-weight: bold;
	color: #333;
	min-height: 150px;
	padding: 1rem 1.3rem;
	border-radius: 10px;
	border: 1px solid #f7f7f7;
	min-width: 150px;
}

.background {
	background: #f7f7f7;
}

.button {
	width: 75px;
	cursor: pointer;
	box-shadow: 0px 0px 2px gray;
	border: none;
	outline: none;
	padding: 5px;
	border-radius: 5px;
	color: black;
	text-align: center;	
}
.button_box div{
	 position : absolute;
	 width : 100px;
	 height : 100px;
	 top:50%;
	 left:50%;
	 margin:-50px 0 0 -50px;
}

#insertEiName {
	
	
	background: #aa55ff;
	width: auto;
	height: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	min-height: 10px;
	min-width: 100px;
	/*padding: 0px 10px 10px 0px; */
	padding: 1rem 0.5rem 1.7rem 1rem;
	border-radius: 10px;
	border: 1px solid #f7f7f7;
	text-align: left;
	cursor: pointer;
	
}