@charset "UTF-8";
#sidebar {
	width: 300px;
	position: fixed;
	top: 0;
	right: -300px;
	height: 100%;
	z-index: 999;
	background: #c8c8c8;
	color: #fff;
	transition: all 0.3s;
}
#sidebar.active {
	right: 0;
}
.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0);
	z-index: 998;
	display: none;
}