@charset "UTF-8";

#sidebar {
	border: 1px solid #c9c9c9;
	width: 350px;
	position: fixed;
	top: 10%;
	right: -350px;
	height: 90%;
	z-index: 999;
	background-color: #f9f9fb;
	color: #fff;
	transition: all 0.5s;
	overflow: hidden;
	overflow-y: scroll;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0 3px 15px 0 rgb(0 0 0/ 50%);
}

#sidebar.active {
	right: 0;
}

#sidebarCollapse {
	cursor: pointer;
	width: 45px;
	height: 45px;
	position : relative;
	margin-left: 90%;
	position: relative;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0);
	z-index: 0;
	display: none;
}

.map_bottom span {
	margin-left: 4px;
	display: inline-block;
	width: 103px;
	height: 30px;
	border-radius: 3px;
	background-color: #ebebf0;
	padding: 5px 5px;
	text-align: center;
	font-size: 13px;
	color: black;
	line-height: 19px;
	letter-spacing: -0.52px;	
	font-family: Arial, sans-serif;
}

.map_view1 {
	width: 80px;
	height: 80px;
	padding: 5px 5px;
	text-align: center;
	float: left;
	
}

.map_view1 img {
	width: 56px;
	height: 56px;
	border-radius: 4px;
	box-shadow: 0 3px 10px 0 rgb(0 0 0/ 20%);
	margin-top: 5px;
	cursor: pointer;
}

.map_view2 {
	width: 190px;
	height: 80px;
	padding: 7px 7px;
	float: left;
	
}
.map_view2 span:nth-child(1) {
    display: inline-block;
    width: 184px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.56px;
    margin-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    height: 20px;
    color: black;
}
.map_view2 span:nth-child(2) {
    display: inline-block;
    width: 184px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.56px;
    margin-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    height: 20px;
    color: black;
}

.map_view3 {
	text-align:center;
	width: 60px;
	height: 80px;
	padding: 5px 5px;
	float: left;
	cursor: pointer;
}
.map_view3 img {
	width:20px;
	height: 20px;
	margin-top:30px;	
	cursor: pointer;
}