@charset "UTF-8";

#sidebar {
	width: 350px;
	position: fixed;
	top: 10%;
	right: -350px;
	height: 90%;
	z-index: 0;
	background: rgb(232, 232, 236);
	color: #fff;
	transition: all 0.5s;
	border-radius: 20px;
}

#sidebar.active {
	right: 0;
}
#sidebarCollapse{
	height: 35px;
	position: relative;
	margin-left : 80%
	
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;	
	background: rgba(0, 0, 0,0);
	z-index: 0;
	display: none;
}